<h1 class="page-header"><%= @band.name %></h1>

<h4 class="sub-header">Albums</h4>

<% if @albums.empty? %>
  <p>This band has no albums... yet!</p>
<% end %>

<ul class="main-list">
  <% @albums.each do |album| %>
    <li class="main-list-item">
      <a href="<%= album_url(album) %>">
        <p><%= album.title %></p>
      </a>
    </li>
  <% end %>
</ul>

<h4 class="sub-header">Links</h4>
<ul class="link-list">

  
  <% if current_user.admin %>
    <li class="link-list-item">
      <%= link_to 'New Album', new_band_album_url(@band), class: "button" %>
    </li>

    <li class="link-list-item">
      <%= link_to 'Edit Band', edit_band_url(@band), class: "button" %>
    </li>

    <li class="link-list-item">
      <form action="<%= band_url(@band) %>" method="post">
        <%= auth_token %>
        <%= delete_hidden_input %>
        <input type="submit" value="Destroy Band" class="button">
      </form>
    </li>
  <% end %>

  <li class="link-list-item">
    <%= link_to 'All Bands', bands_url, class: "button" %>
  </li>
</ul>