<h1>Edit a Cat</h1>

<form action="<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Name:</label>
  <input type="text" id="name" name="cat[name]" value="<%= @cat.name %>">

  <br/>
  <br/>

  <label for="color">Color:</label>
  <select id="color" name="cat[color]">
    <option disabled>--Please Select--</option>
    <option value="yellow" <%= @cat.color == "yellow" ? "selected" : "" %>>Yellow</option>
    <option value="white" <%= @cat.color == "white" ? "selected" : "" %>>White</option>
    <option value="black" <%= @cat.color == "black" ? "selected" : "" %>>Black</option>
    <option value="flower" <%= @cat.color == "flower" ? "selected" : "" %>>Flower</option>
    <option value="grey" <%= @cat.color == "grey" ? "selected" : "" %>>Grey</option>
  </select>

  <br/>
  <br/>

  <label for="birth_date">Date of Birth:</label>
  <input type="date" id="birth_date" name="cat[birth_date]" value=<%= @cat.birth_date %>>

  <br/>
  <br/>

  <label for="sex">Sex:</label>
    <input type="radio" id ="male" name="cat[sex]" value="M" checked=<%= @cat.sex == "M" ? "checked" : "" %>>
    <label for="male">Male</label>
    <input type="radio" id ="Female" name="cat[sex]" value="F" checked=<%= @cat.sex == "F" ? "checked" : "" %>>
    <label for="female">Female</label>

  <br/>
  <br/>
  
  <label for="description">Description:</label>
  <textarea id="description" name="cat[description]"><%= @cat.description %></textarea>

  <br/>
  <br/>
  <input type="submit" value="Update!">
</form>