<h1><%= @cat.name %></h1>
<table>
  <thead>
    <tr>
      <th><%= @cat.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Sex</strong></td>
      <td><%= @cat.sex %></td>
    </tr>

    <tr>
      <td><strong>Color</strong></td>
      <td><%= @cat.color %></td>
    </tr>
    
    <tr>
      <td><strong>Age</strong></td>
      <td><%= @cat.age %></td>
    </tr>

    <tr>
      <td><strong>Description</strong></td>
      <td><%= @cat.description %></td>
    </tr>
  </tbody>


</table>

